$def with (username)
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hans" xml:lang="zh-hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>互联网平台系统部 SVN 更改密码</title>
<script type="text/javascript">
function verifyPassword()
{
    var password = inputPassword.password.value.trim();
    var passwordConfirm = inputPassword.passwordConfirm.value.trim();
    if (password == "" && passwordConfirm == "") {
        alert("密码不能为空！");
        inputPassword.password.focus();
        return false;
    }
    if (password.length > 30) {
        alert("密码长度不应超过 30 位！")
        inputPassword.password.focus();
        return false;
    }
    if (passwordConfirm.length > 30) {
        alert("密码长度不应超过 30 位！")
        inputPassword.passwordConfirm.focus();
        return false;
    }
    if (password.indexOf("'") >= 0 || passwordConfirm.indexOf("'") >= 0) {
         alert("新密码中不能包含 ' ！");
         return false;
    }
    if (password == passwordConfirm) {
        return true;
    } else {
        alert("两次输入的密码不一致！");
        inputPassword.password.focus();
        return false;
    }
}
function doClear()
{
    inputPassword.password.value = "";
    inputPassword.passwordConfirm.value = "";
}
</script>
</head>
<body>
<div align="center">
<font size="5"><strong>互联网平台系统部 SVN 更改密码</strong></font>
<br/>
<br/>
<font size="4">请把新密码输入两遍</font>
<br/>
<br/>
<form name="inputPassword" method="post" action="succeed" onsubmit="return verifyPassword();">
第一遍：&nbsp;&nbsp;<input type="password" style="width:150px;" name="password"/>
<br/>
第二遍：&nbsp;&nbsp;<input type="password" style="width:150px;" name="passwordConfirm"/>
<br/>
<br/>
<input type="text" style="display:none" name="username" value="$username"/><input type="submit" value="修改"/><input type="button" value="清空" onclick="doClear()"/>
</form>
<font size="3" style="color:red">密码明文存于数据库中，请不要包含敏感信息</font>
</div>
</body>
</html>
