$def with (page)
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hans" xml:lang="zh-hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>互联网平台系统部 SVN 更改密码</title>
</head>
<body>
<div align="center">
<font size="5"><strong>互联网平台系统部 SVN 更改密码</strong></font>
<br/>
<br/>
<br/>
$if page == "verify_id":
    <font size="4">呃，用户名或密码输入错误了</font>
    <font size="4"><a href="javascript:history.back()">再试一次吧</a></font>
$elif page == "Easter_egg":
    <font size="4">咦？你怎么可以进入这个网页？做了什么奇怪的操作么？</font>
</div>
</body>
</html>
